.wp-block-cover.is-style-contained-background .wp-block-cover__image-background {
	-o-object-fit: contain;
	object-fit: contain;
}
.wp-block-cover.is-style-unscaled-background .wp-block-cover__image-background {
	-o-object-fit: none;
	object-fit: none;
}